body{
    background-color:whitesmoke;
}

.footer {
    margin: 15px;
    position: fixed;
    bottom: 0%;
    font-family: din-round,sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .8px;
}

ul{
    list-style: none;
}

h2{
    margin: 35px;
    text-align: center;
    font-family: din-round,sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: .8px;
}

legend{
    margin: 35px;
    text-align: center;
    font-family: din-round,sans-serif;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: .8px;
}

h1{
    text-align: center;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .8px;
}

label{
    width: 45%;
    text-align: right;
    font-family: din-round,sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;  
    float:left;
    clear: left;  
}

input{
    display: inline-block;
    text-align: left;
    margin: 10px; 
    padding: .75rem 1.2rem;
    border: transparent;
    border-radius: .3rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.result{
    color: black;
    display:flex;
    justify-content: center;
    font-family: din-round,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .8px;
    margin: 20px;
}

.messages{
    text-align: center;
    list-style: none;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .8px;
    margin-left: -30px;
    color:rgb(255, 0, 51);
}

.buttonHolder{
    display:flex;
    justify-content: center;
    margin: 20px;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


